#header {
    background: #4a4c61;
    .clearfix;

    #logo {
        float: left;
        margin-top: 14px;
    }

    .off-canvas-nav-trigger {
        display: none;
    }
}

#navigation {
    float: right;

    ul {
        margin: 0;
        padding: 0;

        li {
            float: left;

            a {
                display: block;
                color: white;
                font-size: 12px;
                font-size: 1.2rem;
                text-transform: uppercase;
                padding: 20px 10px 20px 10px;
                border-bottom-style: solid;
                border-bottom-width: 4px;

            }
        }
    }
}

.cat a {
    border-bottom-color: #b1b4c7;

    &:hover {
        background: #b1b4c7;
        color: #333;
    }
}


// narrow
@media screen and (min-width: 641px) and (max-width: 1023px) {
    #header .inner {
        width: 100%;
    }
}

// mobile
@media screen and (max-width: 640px) {
    #header .inner {
        width: 100%;

        #logo {
            max-width: 80%;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            float: right;

            img {
                width: 100%;
            }
        }

        .off-canvas-nav-trigger {
            float: left;
            display: block;
            margin: 10px 0 0 0;
            width: 32px;
            height: 32px;
            font-size: 30px;
            text-indent: -4px;
            white-space: nowrap;
            overflow: hidden;
            color: white;

            .icon;
            .icon-menu;

            &:before {
                text-indent: 0;
            }
        }
    }

    #navigation {
        position: absolute;
        width: 70%;
        left: -70%;
        background: #4a4c61;
        box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
        padding-top: 20px;
        top: -20px;
        bottom: 0;

        ul li {
            width: 100%;
            padding-right: 30px;

            a {
                /* text-align: right; */
                padding-right: 0;
                padding-left: 20px;
            }
        }
    }
}