// document structure
html {
    font-size: 10px;
}

body {
    color: #9698af;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 100;
    background: #edecf1;
}

// basice tags
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// page structure
#container {
    position: relative;
    transition: all 0.5s ease;
}

#main,
.inner {
    margin: 0 auto;
    width: 960px;
    padding: 0 10px;
}

#main {
    .clearfix;
    padding: 0 10px;
}

#page {
    float: left;
    width: 620px;
    padding: 20px 0;
}

#aside {
    float: right;
    width: 300px;
    padding: 20px 0;
}


// helpers
.shadow {
    box-shadow: 0 0px 7px rgba(0,0,0,0.3);
    background: white;
}

.clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}




// Media Queries

// desktop
@media screen and (min-width: 1024px) {
}

// narrow
@media screen and (min-width: 641px) and (max-width: 1023px) {
    #main {
        width: auto;
        max-width: 1023px;
    }

    #page {
        width: 100%;
    }

    #aside {
        width: 100%;

        .agent,
        .menu,
        .ad {
            width: 48%;
            float: left;
        }
        .menu {
            float: right;
        }
        .ad_placeholder {
            text-align: center;
        }
    }
}

// mobile
@media screen and (max-width: 640px) {
    #main {
        width: auto;
        max-width: 1023px;
    }

    #page {
        width: 100%;
    }

    #aside {
        width: 100%;

        .ad {
            text-align: center;
        }
    }
}
