.flexslider {
    .shadow;
    border: 0;
    margin-bottom: 20px;

    .slides > li {
        margin: 0;
    }
}

.flex-control-thumbs {
    background: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 0;
    padding: 2px 0;

    li {
        width: 13.5%;
        float: left;
        margin: 0.39%;

        height: 0;
        padding-bottom: 10%;
        overflow: hidden;
    }
}

.flex-direction-nav {
    display: none;
}