@font-face {
    font-family: 'frontend-test';
    src: url('../fonts/icons.eot?6681217');
    src: url('../fonts/icons.eot?6681217#iefix') format('embedded-opentype'),
    url('../fonts/icons.woff?6681217') format('woff'),
    url('../fonts/icons.ttf?6681217') format('truetype'),
    url('../fonts/icons.svg?6681217#frontend-test') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'frontend-test';
    src: url('../font/frontend-test.svg?6681217#frontend-test') format('svg');
  }
}
*/

//[class^="icon-"]:before,
//[class*=" icon-"]:before,
.icon {
    &:before,
    &:after {
        font-family: "frontend-test";
        font-style: normal;
        font-weight: normal;
        speak: none;

        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        /* opacity: .8; */

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;

        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;

        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: .2em;

        /* you can be more comfortable with increased icons size */
        /* font-size: 120%; */

        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }
}

.icon-bag { &:before { content: '\e800'; } }
.icon-bag_after{ &:after { content: '\e800'; }}

.icon-facebook { &:before { content: '\e801'; } }
.icon-facebook_after{ &:after { content: '\e801'; }}

.icon-file { &:before { content: '\e802'; } }
.icon-file_after{ &:after { content: '\e802'; }}

.icon-head { &:before { content: '\e803'; } }
.icon-head_after{ &:after { content: '\e803'; }}

.icon-mail { &:before { content: '\e804'; } }
.icon-mail_after{ &:after { content: '\e804'; }}

.icon-mark { &:before { content: '\e805'; } }
.icon-mark_after{ &:after { content: '\e805'; }}

.icon-pin { &:before { content: '\e806'; } }
.icon-pin_after{ &:after { content: '\e806'; }}

.icon-star { &:before { content: '\e807'; } }
.icon-star_after{ &:after { content: '\e807'; }}

.icon-write { &:before { content: '\e808'; } }
.icon-write_after{ &:after { content: '\e808'; }}

.icon-graph { &:before { content: '\e809'; } }
.icon-graph_after{ &:after { content: '\e809'; }}

.icon-grid { &:before { content: '\e80a'; } }
.icon-grid_after{ &:after { content: '\e80a'; }}

.icon-menu { &:before { content: '\e80b'; } }
.icon-menu_after{ &:after { content: '\e80b'; }}
