.menu {

    > li {
        padding: 0 10px;

        a {
            .icon;
            &:before {
                margin-right: 28px;
                font-size: 18px;
            }

            width: 100%;
            text-transform: uppercase;
            font-size: 14px;
            font-size: 1.4rem;
            padding: 20px 20px 20px 20px;
            display: inline-block;
            border-bottom: 1px solid rgba(255,255,255,0.3);
        }

        .content {
            max-height: 0;
            overflow: hidden;
            transition: all 0.75s linear;
        }

        a.open + .content {
            max-height: 500px;
        }
    }

}