// This file is context-oriented. The content is specific to a page or group of pages.

.criterias {
    .shadow;
    .clearfix;

    padding: 17px 20px;
    margin-bottom: 17px;

    ul {
        float: left;

        li {
            .icon;
            .icon-pin;
            &:before {
                color: #b0b6c6;
            }

            display: inline-block;
            margin-right: 10px;
        }
    }

    .price {
        float: right;

        .icon;
        .icon-mark;
        &:before {
            color: #b0b6c6;
        }
    }
}

.product {

    .meta {
        padding-top: 5px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 100;

        .reference {
            float: right;

            strong {
                font-weight: 100;
            }
        }
    }

    article {
        .shadow;
        padding: 20px 15px;

        header {
            .location {
                display: block;
                text-transform: uppercase;
                font-size: 13px;
                font-size: 1.3rem;
            }
            h1 {
                font-size: 22px;
                font-size: 2.2rem;
                font-weight: 100;
                color: #555;
                margin-top: 10px;
                margin-bottom: 25px;
            }
        }

        p {
            line-height: 2.4rem;
            margin: 0.6em 0;
        }

        aside {
            .clearfix;
            padding-top: 10px;

            h2 {
                font-size: 14px;
                font-size: 1.4rem;
                font-weight: 100;
                text-transform: uppercase;
            }

            ul {
                li {
                    float: left;
                    width: 25%;
                    border-top: 1px solid rgba(0,0,0,0.15);
                    font-weight: bold;
                    font-size: 12px;
                    font-size: 1.2rem;
                    padding: 10px 0;

                    .label {
                        font-weight: 100;
                        display: block;
                        padding-bottom: 3px;
                    }
                }
            }
        }
    }

    .cross-selling {
        .clearfix;
        clear: both;
        width: 100%;
        margin-bottom: 20px;

        h2 {
            .icon;
            .icon-bag;

            &:before {
                position: relative;
                top: -2px;
                font-size: 19px;
            }

            text-align: center;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 18px;
            margin-top: 0;
            color: #7b7b9f;
        }

        ul {
            margin: 0 -0.6%;

            li {
                .shadow;

                float: left;
                width: 18.8%;
                margin: 0 0.6%;
                font-size: 12px;
                font-size: 1.2rem;

                img {
                    width: 100%;
                }

                strong {
                    width: 90%;
                    display: block;
                    margin: 0 10px;
                    padding-top: 5px;
                    border-bottom: 1px solid #ccc;
                }
                .price {
                    .icon;
                    .icon-mark;

                    display: block;
                    padding: 10px;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    #aside {

        .title {
            display: inline-block;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 14px;
            font-size: 1.4rem;
            margin-bottom: 10px;
        }

        .agent {
            .shadow;
            padding: 10px;
            padding-left: 110px;
            position: relative;
            margin-bottom: 15px;
            font-size: 12px;
            font-size: 1.2rem;
            line-height: 18px;
            line-height: 1.8rem;

            img.photo {
                position: absolute;
                left: 10px;
                top: 10px;
            }

            .name {
                color: black;
                font-size: 14px;
                font-size: 1.4rem;
                display: block;
                padding-bottom: 5px;
            }

            p {
                margin: 0 0 10px 0;
            }
        }

        .menu.contact {
            margin-bottom: 25px;

            > li {
                > a {
                    color: white;
                }

                .content {
                    background: white;
                    text-align: center;
                }
            }
            .phone > a { .icon-grid; }
            .email > a { .icon-mail; }
            .offer > a { .icon-write; }

            .phone .content a {
                font-size: 18px;
                font-size: 1.8rem;
                color: black;
            }

            form {
                padding: 10px;
                text-align: left;

                textarea,
                input {
                    width: 100%;
                    margin-bottom: 10px;
                    font-size: 12px;
                    font-size: 1.2rem;
                    border: 1px solid #ccc;
                }
                textarea {
                    height: 60px;
                }
                input {
                    height: 30px;
                    padding: 5px 10px;
                }

                button {
                    background: #4a4c61;
                    border: 0;
                    color: white;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-size: 1.2rem;
                    padding: 8px 10px;
                }
            }
        }

        .menu.actions {
            .shadow;
            margin-bottom: 25px;
            padding: 10px 0;

            li a {
                &:last-of-type {
                    border-bottom: 0;
                }

                color: #7b7b9f;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                transition: all 0.75s ease;

                &:hover {
                    background: #cfd2db;
                    color: #333;
                }
            }

            .favorite > a { .icon-star; }
            .print > a { .icon-file; }
            .share > a { .icon-head; }
            .facebook > a { .icon-facebook; }
        }

        .ad {
            margin-bottom: 25px;
        }

        .market_price {
            .title {
                .icon;
                .icon-graph;
            }

            ul {
                .shadow;
                padding-bottom: 60px;

                li {
                    padding: 10px 0;
                    padding-top: 15px;
                    margin: 0 15px;
                    border-bottom: 1px solid rgba(0,0,0,0.3);
                }

                .label {
                    display: block;
                    font-size: 12px;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-weight: normal;
                }
            }

            a.button {
                float: right;
                padding: 8px 15px;
                font-size: 12px;
                font-size: 1.2rem;
                text-transform: uppercase;
                margin-top: -45px;
                margin-right: 15px;
                color: white;
            }
        }
    }
}

// mobile
@media screen and (max-width: 640px) {
    .product article aside ul li {
        width: 50%;
    }
    .product .cross-selling ul li {
        width: 48.5%;
        margin-bottom: 10px;
    }

    .criterias ul li {
        margin-bottom: 10px;
    }
}
