.universe(@color) {
    &.cat {
        a {
            border-color: @color !important;

            &:hover {
                background: @color;
            }
        }
    }

    .criterias .price .amount {
        color: @color;
    }

    .meta strong {
        color: @color;
    }

    .cross-selling .price {
        color: @color;
    }

    .market_price .label {
        color: @color;
    }

    .button {
        background: @color;
    }

    .menu.contact {
        background: @color;
    }
}

.buy {
    .universe(#c71f40);
}
.rent {
    .universe(#197dae);
}
.commercial {
    .universe(#339d43);
}
